<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <button onclick="location.href = '/story/login'">Back To Login</button>
    <h1> Attach an Image on a Node! </h1>
    <!-- Prompt user for an image file or url -->
    <h4> {{ err_msg }} </h4>
    <form action="/story/addnodeimage/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Attach">
    </form>
    <!-- Display existing nodes and their respective images -->
    <p>
        <br/> Existing Nodes:
        <ol>
            {% for node_models in nodes %}
                <li>
                    {{ node_models.node_title }} -- id: {{ node_models.id }} <br/>
                    <!-- Display image from url or image from file depending on what is stored (for manual testing)-->
                    <!-- Will be connected to story creation later on. -->
                    {% if not node_models.has_image_file%}
                        <img src="{{node_models.image_url}}" height="100px">
                    {% else %}
                        <img src="{{node_models.image.url}}" height="100px">
                    {% endif %}
                    {{ node_models.image_file }}
                </li> <br/>
            {% endfor %}
        </ol>
    </p>
</body>
</html>